.side-menu{
    -fx-background-color: #74b6c0;
    -fx-pref-height: 600;
    -fx-pref-width: 200;
}

.side-menu-button{
    -fx-background-color: #74b6c0;
    -fx-border-style: none;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
}

.side-menu-button:hover{
    -fx-background-color: #6cccda;
}

.side-menu-button:focused{
    -fx-background-color: #41939d;
}