.combo-box{
    -fx-background-color: #343541;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
    -fx-background-radius: 50px;
}


.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black;
}


